/* Variables */

:root {
  --basic-white: #FFFFFF;
  --basic-ligt-dark: #323232;
  --basic-gray: #5A5A5A;
  --basic-light-gray: #999999;
  --basic-orange: #F26843;

  --main-backround: #849D8F;
  --second-background: #8996A6;
  --third-background: #9D8B84;

  --raspberry: #531520;
  --chocolate: #895b4b;
  --about-us: #f5edda;
  --mailing: #F8F7F4;
  --contacts: #FEFEFE;

  --basic-button: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  --hover-button:
        linear-gradient(0deg, rgba(255, 255, 255, 0.2),
        rgba(255, 255, 255, 0.2)),
        linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  --active-button:
        linear-gradient(0deg, rgba(0, 0, 0, 0.07),
        rgba(0, 0, 0, 0.07)),
        linear-gradient(180deg, #F26843 0%, #E74A35 100%);

  --shadow-button: rgba(172, 16, 0, 0.64);
  --hover-shadow: #AC1000;
  --active-shadow: #942718;

  --hover-submenu: #FBDED7;
  --active-submenu: #F6B5A5;
  --current-submenu: #D07058;

  --active-navlink: #EDEDED;
  --current-navlink: #D07058;

  --sitelink: #FFBC9E;
  --second-sitelink: #E84D37;

  --user-background: rgba(255, 255, 255, 0.2);

  --range-background: #ABABAB;

}

/* Global*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-width: 1146px;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: var(--basic-white);

  background-color: var(--main-backround);
}

img {
  max-width: 100%;
  height: auto;
}

.button {
  color: var(--basic-white);
  text-decoration: none;

  background-color: var(--basic-orange);
  background-image: var(--basic-button);
  box-shadow: 0 2px 2px var(--shadow-button);
  border-radius: 70px;
}

.button:hover {
  background-color: var(--basic-orange);
  background-image: var(--hover-button);
  box-shadow: 0 2px 2px var(--hover-shadow);
}

.button:active {
  background-color: var(--basic-orange);
  background-image: var(--active-button);
  box-shadow: inset 0 2px 2px var(--active-shadow);
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.page {
  height: 100%;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 27px;
}

.hide {
  display: none;
}

/* Body */

.page-body {
  position: relative;

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.page-body::before {
  content: "";

  position: absolute;
  top: 0;
  left: 50%;
  z-index: -1;

  width: 716px;
  height: 716px;
  margin-left: -358px;

  background-color: rgba(215, 242, 227, 0.75);
  filter: blur(250px);
}

/* Main header */

.main-header {
  position: relative;
}

.main-navigation {
  display: grid;
  grid-template-columns: 154px 1fr max-content;
  padding-top: 9px;
}

.main-header-logo {
  width: 154px;
  height: 64px;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 0 10px;
  padding: 16px 0 0 0;

  list-style: none;
}

.site-link {
  position: relative;

  display: block;
  padding: 5px 15px 6px;
  margin-right: 2px;

  font-weight: 700;
  line-height: 18px;
  text-decoration: none;
  color: var(--basic-white);
}

.site-link::after {
  content: "";

  position: absolute;
  left: 15px;
  right: 15px;
  bottom: 6px;

  height: 1px;
  background-color: var(--user-background);
}

.site-link:hover {
  color: var(--basic-ligt-dark);
  text-decoration: none;

  background-color: var(--basic-white);
  border-radius: 26px;
}

.site-link:active {
  color: var(--basic-ligt-dark);

  background-color: var(--active-navlink);
  box-shadow: inset 0 2px 1px #696969;
  border-radius: 26px;
}

.subnavigation {
  margin: 0;
  padding: 0;

  list-style: none;
  background-color: var(--basic-white);
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}

.subnavigation-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-ligt-dark);
}

.subnavigation-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-ligt-dark);
  text-decoration: none;
}

.subnavigation-link:hover {
  background-color: var(--hover-submenu);
  border-radius: 0;
}

.subnavigation-link:active {
  background-color: var(--active-submenu);
}

.user-navigation {
  display: flex;
  align-items: flex-start;
  padding-top: 13px;

  font-size: 14px;
  line-height: 16px;
}

.user-login,
.user-cart {
  padding: 8px 16px 8px 45px;
  margin-left: 10px;

  color: var(--basic-white);
  text-decoration: none;

  background-color: var(--user-background);
  border-radius: 20px
}

.user-login:hover,
.user-cart:hover {
  color: var(--basic-ligt-dark);

  background-color: var(--basic-white);
}

.user-search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;

  background-color: var(--user-background);
  border-radius: 50%;
}

.user-search:hover {
  background-color: var(--basic-white);
}

.user-search:hover path {
  fill: var(--basic-ligt-dark);
}

.header-info {
  position: absolute;
  right: 27px;
  bottom: -3px;
  transform: translateY(100%);

  margin: 0;

  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  text-align: right;
}

.header-phone {
  display: block;
  margin-top: 8px;

  color: var(--basic-white);
  font-size: 22px;
  line-height: 24px;
  text-decoration: none;
}

/* Offers */

.offers {
  position: relative;

  padding-top: 325px;
  margin-bottom: 40px;

  text-align: center;
}

.offers-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.offers-item {
  display: none;
}

.active-item {
  display: block;
}

.offers-img {
  position: absolute;
  top: 10px;
  left: 250px;
  z-index: -1;
}

.offers-title {
  width: 672px;
  margin: 0 auto 27px;

  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
}

.offers-button {
  display: inline-block;
  padding: 9px 23px;

  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
}

.offers-controls {
  position: absolute;
  bottom: 20px;
  left: 0;

  display: flex;
  justify-content: space-between;

  width: 80px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.offers-controls button {
  padding: 0;
  width: 21px;
  height: 21px;

  background-color: transparent;
  border: 2px solid var(--basic-white);
  border-radius: 50%;
  cursor: pointer;
}

.offers-controls .current {
  background-color: var(--basic-white);
}

/* Promotions */

.promotions {
  margin-bottom: 40px;
}

.promotions-list {
  display: grid;
  margin: 0;
  padding: 0;
  grid-template-columns: 1fr 1fr;
  column-gap: 26px;

  list-style: none;
}

.promotions-item {
  display: flex;
  flex-direction: column;
  min-height: 229px;
  padding: 16px 22px 22px 16px;
}

.raspberry {
  background-image: url("../img/bg-raspberry.png");
  background-position: left top;
  background-color: var(--raspberry);
  border-radius: 16px;
}

.chocolate {
  background-image: url("../img/bg-chocolate.png");
  background-position: left top;
  background-color: var(--chocolate);
  border-radius: 16px;
}

.promotions-title {
  margin: 0 0 16px;

  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
}

.promotions-text {
  margin: 0 0 5px;

  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.promotions-button {
  display: block;
  margin-top: auto;
  margin-left: auto;
  padding: 12px 22px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;

  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
}

/* Bestsellers */

.bestsellers {
  margin-bottom: 40px;
}


.bestsellers-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 26px;
  padding: 0;
  margin: 0;

  list-style: none;
}

.bestsellers-item {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.bestsellers-item:hover::before {
  content: "";

  position: absolute;
  left: -13px;
  top: -6px;
  z-index: 1;

  box-sizing: content-box;
  width: 100%;
  min-height: 100%;
  padding: 6px 13px 56px;

  background-color: var(--user-background);
  border-radius: 4px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
}

.bestsellers-wrapper {
  position: relative;
  margin-bottom: 7px;
}

.bestsellers-hit {
  position: absolute;
  left: 0;
  top: 0;

  width: 61px;
  height: 61px;

  background-color: var(--basic-white);
  background-image: url("../img/hit.svg");
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.bestsellers-price {
  position: absolute;
  bottom: 19px;
  margin: 0;

  font-weight: 700;
  font-size: 45px;
  line-height: 45px;

  text-shadow: 0 1px 3px rgba(49, 50, 53, 0.5);
}

.bestsellers-weight {
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;

  text-shadow: 0 1px 3px rgba(49, 50, 53, 0.5);
}

.bestsellers-text {
  z-index: 1;

  margin: 0 0 7px;
  padding: 0 5px;

  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-decoration: underline;
  text-align: center;
}

.bestsellers-button {
  position: absolute;
  z-index: 1;

  display: none;
  padding: 10px 17px;

  font-size: 18px;
  line-height: 24px;
}

.bestsellers-item:hover .bestsellers-button {
  display: block;
  bottom: -44px;
}


/* About us */

.about-us {
  margin-bottom: 47px;
  padding: 18px 21px 0;

  background-image: url("../img/waffle-pattern.jpg");
  background-position: left top;
  background-color: var(--about-us);
  border-radius: 16px;
}

.about-us-title {
  display: block;
  margin-bottom: 16px;

  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-ligt-dark);
}

.about-us-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.about-us-item {
  width: 540px;
  margin-bottom: 22px;
}

.about-us-text {
  margin: 0;
  padding-left: 55px;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-ligt-dark);
}

/* Column wrapper */

.column-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 26px;
  margin-bottom: 40px;
}

/* Blog */

.blog,
.mailing {
  min-height: 220px;
}

.blog {
  padding: 18px 20px;
  background-image: url("../img/bg-strawberry.png");
  background-color: var(--basic-white);
  background-position: left top;
  background-repeat: no-repeat;
  border-radius: 16px;
}

.blog-text {
  margin: 0 0 3px;

  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-ligt-dark);
}

.blog-link {
  display: block;
  width: 300px;

  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-ligt-dark);
}

.blog-link:hover,
.blog-link:active {
  color: var(--second-sitelink);
}

/* Mailing */

.mailing {
  padding: 5px 6px;

  background-image: url("../img/bg-mail.png") ;
  background-color: var(--mailing);
  border-radius: 16px;
}

.mailing-wrapper {
  padding: 24px 20px;
  min-height: 210px;

  background-color: var(--mailing);
  border-radius: 16px;
}

.mailing-text {
  margin: 0 0 40px;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-gray);
}

.mailing-form {
  display: flex;
  align-items: flex-start;
}

.mailing-input {
  margin-right: 10px;
  padding: 12px 13px;
  width: 100%;

  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  background-color: var(--basic-white);
  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 6px;
}

.mailing-button {
  padding: 11px 19px;

  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;

  border: none;
}

/* Contacts */

.contacts-wrapper {
  padding: 62px 0;
  background-color: #ece5c8;
}

.contacts-wrapper .container {
  display: flex;
  justify-content: flex-end;
}

.contacts {
  display: flex;
  flex-direction: column;
  padding: 32px 25px;
  width: 303px;

  background-color: var(--contacts);
  border-radius: 16px;
}

.contacts-text {
  margin: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--basic-ligt-dark);
}

.contacts address {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  color: var(--basic-ligt-dark);
}

.contacts-phone {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-ligt-dark);
  text-decoration: none;
}


.contacts-button {
  margin-top: 27px;
  padding: 10px 28px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  border: none;

}

/* Footer */
.main-footer {
  display: grid;
  grid-template-columns: 200px 1fr 230px;

  padding-top: 18px;
  margin-top: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

/* Social */
.social-list {
  display: flex;
  margin: 0;
  padding: 17px 0 0;

  list-style: none;
}

.social-icon {
  margin-right: 12px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

/* Footer links */
.footer-links {
  display: flex;
  flex-wrap: wrap;

  width: 335px;
  margin-left: 198px;
  margin-top: 10px;
  padding: 0 0 0 25px;

  list-style: none;
}

.footer-links a {
  display: inline-block;
  min-width: 140px;

  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-white);
}

.footer-links a:hover,
.footer-links a:active {
  color: var(--sitelink);
}

/* Footer copyright */
.footer-copyright {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-left: 40px;

  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

.footer-copyright a {
  color: var(--basic-white);
}

.footer-copyright a:hover,
.footer-copyright a:active {
  color: var(--sitelink);
}

/* Breadcrumbs */

.breadcrumbs {
  display: flex;
  margin: 26px 0 3px;

  padding: 0;
  width: 80%;

  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-white);
  list-style: none;
}

.breadcrumbs-link {
  position: relative;
  margin-right: 22px;

  color: var(--basic-white);
}

.breadcrumbs-link::after {
  content: "";
  position: absolute;
  right: -15px;
  top: 6px;

  width: 6px;
  height: 6px;

  background-image: url("../img/breadcrumbs-arrow.svg");
}

.breadcrumbs-link:hover {
  color: var(--sitelink);
}

/* Page title */

.page-title {
  margin: 0 0 26px;

  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
}

/* Filters */

.filters-form {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 27px;
}

.filters-item {
  padding: 0;
  margin: 0 15px 14px 0;

  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  border: none;
}


.filters-legend {
  margin-bottom: 7px;
  margin-left: 17px;
}

.sorting-wrapper {
  position: relative;
  border-radius: 20px;
}

/* Filters sorting */

.filters-sorting {
  padding: 9px 15px;
  min-width: 196px;;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);

  background-color: var(--user-background);
  border-radius: 20px;
  border: none;

  outline: none;
  appearance: none;
  cursor: pointer;
}

.filters-sorting:hover {
  color: var(--basic-ligt-dark);
}

.filters-sorting:focus {
  color: var(--basic-ligt-dark);
  background-color: var(--basic-white);
}

.filters-sorting option {
  color: var(--basic-ligt-dark);
}

.filters-sorting-arrow {
  position: absolute;
  top: 13px;
  right: 13px;

  cursor: pointer;
}

.sorting-wrapper:hover path,
.filters-sorting:focus + .filters-sorting-arrow path {
  fill: var(--basic-ligt-dark);
}

/* Filters range */

.filters-range {
  width: 218px;
  height: 36px;
  padding: 17px 21px 0;

  background-color: var(--user-background);
  border-radius: 20px;
}

.range-controls {
  position: relative;
}

.range-controls .scale {
  height: 2px;
  background-color: rgba(248, 247, 244, 0.5);
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background-color: var(--mailing);
}

.toggle {
  position: absolute;
  top: -9px;
  left: 0;

  width: 4px;
  height: 4px;

  box-sizing: content-box;
  border: 8px solid var(--basic-white);
  background-color: var(--range-background);
  border-radius: 50%;

  cursor: pointer;
}

.toggle-min {
  left: 10px;
}

.toggle-max {
  left: 100px;
}

/* Filters list radio */

.filters-list-radio {
  display: flex;

  padding: 9px 21px 9px 0;
  margin: 0;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);

  background-color: var(--user-background);
  border-radius: 20px;

  list-style: none;
}

.filters-radio {
  padding: 0 3px 0 47px;
}

.filters-label-radio {
  position: relative;
  cursor: pointer;
}

.filters-input-radio + .filters-label-radio::before {
  content: "";

  position: absolute;
  left: -32px;
  top: -2px;

  width: 22px;
  height: 22px;
  border: 4px solid var(--basic-white);
  border-radius: 50%;
  opacity: 0.8;
}

.filters-input-radio:checked + .filters-label-radio::after {
  content: "";

  position: absolute;
  left: -25px;
  top: 5px;

  width: 8px;
  height: 8px;
  background-color: var(--basic-white);
  border-radius: 50%;
  opacity: 0.8;
}

.filters-input-radio + .filters-label-radio:hover::before,
.filters-input-radio:checked + .filters-label-radio:hover::after {
  opacity: 1;
}

/* Filters list checkbox */
.filters-list-checkbox {
  display: flex;

  margin: 0;
  padding: 9px 13px 9px 0;

  font-size: 16px;
  line-height: 18px;

  background-color: var(--user-background);
  border-radius: 20px;

  list-style: none;
}

.filters-checkbox {
  padding: 0 7px 0 48px;
}

.filters-label-checkbox {
  position: relative;
  cursor: pointer;
}

.filters-input-checkbox + .filters-label-checkbox::before {
  content: "";

  position: absolute;
  left: -32px;
  top: 0;

  width: 20px;
  height: 20px;

  background-image: url("../img/filters-checkbox-on.svg");
  background-repeat: no-repeat;

  opacity: 0.8;
}

.filters-input-checkbox:checked + .filters-label-checkbox::before {
  background-image: none;
}

.filters-input-checkbox:checked + .filters-label-checkbox::after {
  content: "";

  position: absolute;
  left: -32px;
  top: 0;

  width: 24px;
  height: 20px;

  background-image: url("../img/filters-checkbox-off.svg");
  background-repeat: no-repeat;
  opacity: 80%;
}

.filters-input-checkbox + .filters-label-checkbox:hover::before,
.filters-input-checkbox:checked + .filters-label-checkbox:hover::after {
  opacity: 100%;
}

.filters-button {
  align-self: center;

  margin-top: 10px;
  padding: 6px 27px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: var(--basic-white);

  background: var(--user-background);
  border: 2px solid var(--basic-white);
  border-radius: 20px;

  outline: none;
}

.filters-button:hover,
.filters-button:focus {
  color: var(--basic-ligt-dark);

  background-color: var(--basic-white);

  cursor: pointer;
}

.filters-button:active {
  padding: 8px 29px;

  color: var(--basic-ligt-dark);

  background-color: var(--basic-white);
  border: none;

  cursor: pointer;
  box-shadow: inset 0 2px 1px var(--basic-gray);
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  list-style: none;
}

.pagination-link {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-right: 2px;
  width: 26px;
  height: 26px;

  color: var(--basic-white);

  border-radius: 50%;
  text-decoration: none;
}

.pagination-link:hover {
  color: var(--basic-ligt-dark);
  background-color: rgba(255, 255, 255, 0.2);
}

.pagination-current,
.pagination-link:active,
.pagination-current:hover {
  background-color: var(--basic-white);
  color: var(--basic-ligt-dark);
}

.pagination-item:first-child {
  align-self: center;
  margin-right: 20px;

  width: 7px;
  height: 12px;

  background-image: url("../img/icon-pagination.svg");
  background-repeat: no-repeat;

  transform: rotate(-180deg);
  cursor: pointer;
}


.pagination-item:last-child {
  align-self: center;
  margin-left: 20px;

  width: 7px;
  height: 12px;

  background-image: url("../img/icon-pagination.svg");
  background-repeat: no-repeat;

  cursor: pointer;
}

.pagination-item.disabled {
  opacity: 0.2;
  cursor: default;
}
